<div class="legal">
    <div class="copyright">
        &copy; 2020 <a href="javascript:void(0);">Lucas Santos</a>.
    </div>
    <div class="version">
        <b>Versão: </b> 1.0.0
    </div>
</div>