<div role="tabpanel" class="tab-pane fade" id="settings">
    <div class="demo-settings">
        <p>Configurações gerais</p>
        <ul class="setting-list">
            <li>
                <span>Painel de relatório de uso</span>
                <div class="switch">
                    <label><input type="checkbox" checked><span class="lever"></span></label>
                </div>
            </li>
            <li>
                <span>Redirecionamento de email</span>
                <div class="switch">
                    <label><input type="checkbox"><span class="lever"></span></label>
                </div>
            </li>
        </ul>
        <p>Configurações do sistema</p>
        <ul class="setting-list">
            <li>
                <span>Notificações</span>
                <div class="switch">
                    <label><input type="checkbox" checked><span class="lever"></span></label>
                </div>
            </li>
            <li>
                <span>Atualizações automáticas</span>
                <div class="switch">
                    <label><input type="checkbox" checked><span class="lever"></span></label>
                </div>
            </li>
        </ul>
        <p>Configurações da conta</p>
        <ul class="setting-list">
            <li>
                <span>Offline</span>
                <div class="switch">
                    <label><input type="checkbox"><span class="lever"></span></label>
                </div>
            </li>
            <li>
                <span>Permissão de localização</span>
                <div class="switch">
                    <label><input type="checkbox" checked><span class="lever"></span></label>
                </div>
            </li>
        </ul>
    </div>
</div>