<aside id="rightsidebar" class="right-sidebar">
    <ul class="nav nav-tabs tab-nav-right" role="tablist">
        <li role="presentation" class="active"><a href="#skins" data-toggle="tab">Visuais</a></li>
        <li role="presentation"><a href="#settings" data-toggle="tab">Configurações</a></li>
    </ul>
    <div class="tab-content">
        <!-- SKINS -->
        <partial name="~/Views/Shared/_Skins.cshtml" />

        <!-- SETTINGS -->
        <partial name="~/Views/Shared/_Settings.cshtml" />
    </div>
</aside>