<div role="tabpanel" class="tab-pane fade in active in active" id="skins">
    <ul class="demo-choose-skin">
        <li data-theme="red" class="active">
            <div class="red"></div>
            <span>Vermelho</span>
        </li>
        <li data-theme="pink">
            <div class="pink"></div>
            <span>Rosa</span>
        </li>
        <li data-theme="purple">
            <div class="purple"></div>
            <span>Roxo</span>
        </li>
        <li data-theme="deep-purple">
            <div class="deep-purple"></div>
            <span>Roxo escuro</span>
        </li>
        <li data-theme="indigo">
            <div class="indigo"></div>
            <span>Azul escuro</span>
        </li>
        <li data-theme="blue">
            <div class="blue"></div>
            <span>Azul</span>
        </li>
        <li data-theme="light-blue">
            <div class="light-blue"></div>
            <span>Azul claro</span>
        </li>
        <li data-theme="cyan">
            <div class="cyan"></div>
            <span>Ciano</span>
        </li>
        <li data-theme="teal">
            <div class="teal"></div>
            <span>Verde escuro</span>
        </li>
        <li data-theme="green">
            <div class="green"></div>
            <span>Verde</span>
        </li>
        <li data-theme="light-green">
            <div class="light-green"></div>
            <span>Verde claro</span>
        </li>
        <li data-theme="lime">
            <div class="lime"></div>
            <span>Lima</span>
        </li>
        <li data-theme="yellow">
            <div class="yellow"></div>
            <span>Amarelo</span>
        </li>
        <li data-theme="amber">
            <div class="amber"></div>
            <span>Âmbar</span>
        </li>
        <li data-theme="orange">
            <div class="orange"></div>
            <span>Laranja</span>
        </li>
        <li data-theme="deep-orange">
            <div class="deep-orange"></div>
            <span>Laranja escuro</span>
        </li>
        <li data-theme="brown">
            <div class="brown"></div>
            <span>Marrom</span>
        </li>
        <li data-theme="grey">
            <div class="grey"></div>
            <span>Cinza</span>
        </li>
        <li data-theme="blue-grey">
            <div class="blue-grey"></div>
            <span>Cinza azulado</span>
        </li>
        <li data-theme="black">
            <div class="black"></div>
            <span>Preto</span>
        </li>
    </ul>
</div>