@model ErrorViewModel

<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="header">
                <div class="row clearfix">
                    <div class="col-xs-12 col-sm-12">
                        <h2>Erro</h2>
                    </div>
                </div>
            </div>
            <div class="body">
                <h2 class="text-danger">Um erro ocorreu enquanto sua solicitação era processada.</h2>
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
                <h3>Descrição do erro:</h3>
                <p>
                    <strong>Um erro inesperado ocorreu durante sua solicitação.</strong>
                </p>
                <p>
                    <strong>Por favor entre em contato com o suporte para mais informações.</strong>
                </p>
            </div>
        </div>
    </div>
</div>